*.jks
*.key
*.mobileprovision
*.njsproj
*.ntvs*
*.p12
*.sln
*.suo
*.sw?
.DS_Store
.editorconfig
.env.*.local
.env.local
.expo/*
.idea
.vscode
/dist
dist/
node_modules
node_modules/
node_modules/**/*
npm-debug.*
npm-debug.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log
yarn-error.log*
yarn.lock
